---
interface Props {
  day: number;
  title: string;
  resultComponent: string;
  solutionUsernames: string[];
}

import { DynamicSolution } from "../components/DynamicSolution";
import { Link } from "../components/Link";
import Question from "./Question.astro";
const { day, title, resultComponent, solutionUsernames } = Astro.props;
---

<Question day={day} title={title}>
  <slot />
</Question>
{
  resultComponent && (
    <DynamicSolution resultComponent={resultComponent} client:load />
  )
}
<h2 class="text-3xl mt-20 border-b border-yeti-dark">Solutions</h2>
<div class="mt-5 ml-4">
  {
    solutionUsernames.map((username) => (
      <li class="text-yeti-light-9 hover:text-yeti-light-7">
        <Link href={`/day/${day}/solution/${username}/`}>{username}</Link>
      </li>
    ))
  }
</div>
