---
interface Props {
  day: number;
  title: string;
  solutions: {
    [file: string]: string;
  };
}

import { MdCalendarMonth, MdEventBusy } from "react-icons/md";

import Layout from "./Layout.astro";
import { SolutionChecker } from "../components/SolutionChecker";
import { Calendar } from "../components/Calendar";
import { Link } from "../components/Link";

const { BASE_URL } = import.meta.env;
const { day, title, solutions } = Astro.props;
---

<Layout title={`Day ${day}: ${title}`}>
  <header class="bg-yeti-light-3 w-full">
    <div
      class="flex items-center gap-4 max-w-screen-lg w-full mx-auto px-4 md:px-6 py-3"
    >
      <Link
        href="/"
        className="flex justify-center items-center gap-2 font-bold text-2xl"
        ><img src={BASE_URL + "logo.svg"} alt="Logo" class="w-10" />WCF</Link
      >

      <details class="ml-auto group">
        <summary class="list-none hover:text-yeti-dark-7 cursor-pointer">
          <MdCalendarMonth size={32} className="group-open:hidden" />
          <MdEventBusy size={32} className="hidden group-open:block" />

          <!-- fullscreen background element that you can click to close when it's open -->
          <div class="fixed inset-0 bg-yeti-dark-3/50 hidden group-open:block">
          </div>
        </summary>

        <nav
          class="fixed right-0 left-0 md:left-auto z-10 flex flex-col bg-yeti-light-3 shadow-lg p-4 rounded-md md:rounded-r-none h-full w-screen md:max-w-screen-sm"
        >
          <Calendar current={day} />
        </nav>
      </details>
    </div>
  </header>

  <div class="flex flex-col max-w-screen-lg w-full mx-auto px-4 md:px-6 my-12">
    <h1 class="text-5xl font-bold mb-6 border-b border-yeti-dark">
      Day {day}: {title}
    </h1>
    <div
      class="*:mb-4 [&_pre]:p-4 [&_pre]:rounded-lg [&_a]:text-yeti-light-9 [&_a:hover]:underline"
    >
      <slot />
    </div>
  </div>

  <div class="flex flex-col max-w-screen-lg w-full mx-auto px-4 md:px-6 my-12">
    {
      Object.entries(solutions).map(([file, solution]) => (
        <>
          <b>{file}:</b>
          <SolutionChecker solution={solution} client:load />
        </>
      ))
    }
  </div>
</Layout>
