---
interface Props {
  day: number;
  title: string;
  resultComponent: string;
  solutionList: {
    username: string;
    descriptions: string[];
  }[];
}

import { DynamicSolution } from "../components/DynamicSolution";
import { Link } from "../components/Link";
import Question from "./Question.astro";
const { day, title, resultComponent, solutionList } = Astro.props;
---

<Question day={day} title={title}>
  <slot />
</Question>
{
  resultComponent && (
    <DynamicSolution resultComponent={resultComponent} client:load />
  )
}
<h2 class="text-3xl mt-20 mb-5 border-b border-yeti-dark">Solutions</h2>
<ul class="mb-10 list-inside list-disc">
  {
    solutionList.map((s) => (
      <li>
        <Link href={`/day/${day}/solution/${s.username}/`}>
          {s.username} -{" "}
          {s.descriptions.map((s) => (
            <span class="border-yeti-light-9 border-2 rounded-lg bg-yeti-light-3 px-1 mx-1">
              {s}
            </span>
          ))}
        </Link>
      </li>
    ))
  }
</ul>
